/* body { */
/*     font-family: Arial, sans-serif; */
/*     background-color: #f4f4f4; */
/*     margin: 0; */
/*     padding: 0; */
/* } */

a {
    text-decoration: none !important;
}

.contact-form {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #FF8000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #B45F04;
}