<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="naver-site-verification" content="" />
<meta name="description" content="">
<meta property="og:type" content="website">
<meta property="og:title" content="회사소개-회사소개">
<meta property="og:description" content="">
<meta property="og:image" content="/img/common/logo.png">
<meta property="og:url" content="">
<title>お問い合わせ</title>
<script src="/js/jquery-ui.js"></script>
<script src="/js/jquery-1.8.3.min.js"></script>
<script src="/js/topmenu_script.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/feather.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/aos.css">
<link rel="stylesheet" href="/css/qus.css">
<link rel="stylesheet" href="/css/sh_common.css">
<link rel="stylesheet" href="/css/sh_sub.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
</head>
<body>
	<div id="sh_wrapper" class="sub">
		<div th:insert="~{fragment/header :: header}"></div>
		<div id="sh_container">
			<div id="sh_container_wrapper">
				<div id="shSub">
					<div class="txt_area">
						<p>お問い合わせ</p>
						<div>
							<a th:href="@{/}"><span class="sound_only">Home</span> <svg
									xmlns="http://www.w3.org/2000/svg" height="24"
									viewBox="0 -960 960 960" width="24">
									<path
										d="M240-200h120v-200q0-17 11.5-28.5T400-440h160q17 0 28.5 11.5T600-400v200h120v-360L480-740 240-560v360Zm-80 0v-360q0-19 8.5-36t23.5-28l240-180q21-16 48-16t48 16l240 180q15 11 23.5 28t8.5 36v360q0 33-23.5 56.5T720-120H560q-17 0-28.5-11.5T520-160v-200h-80v200q0 17-11.5 28.5T400-120H240q-33 0-56.5-23.5T160-200Zm320-270Z"></path></svg></a>
							<i class="fa fa-angle-right"></i>お問い合わせ<i></i>
						</div>
					</div>
				</div>
				<ul id="shSnb">
					<li class="on"><a th:href="@{/qus}">お問い合わせ</a></li>
				</ul>
				<div class="contact-form">
					<h2>お問い合わせ</h2>
					<form action="submit_form.php" method="POST">
						<div class="form-group">
							<label for="name">名前:</label> <input type="text" id="name"
								name="name" required>
						</div>
						<div class="form-group">
							<label for="floatingInput">Email address</label> <input
								type="email" class="form-control" id="floatingInput"
								placeholder="name@example.com">

						</div>
						<div class="form-group">
							<label for="subject">件名:</label> <input type="text" id="subject"
								name="subject" required>
						</div>
						<div class="form-group">
							<label for="message">内容:</label>
							<textarea id="message" name="message" rows="5" required></textarea>
						</div>
						<button type="button" class="submit-btn" onclick="confirmSubmission()">送信</button>
					</form>
				</div>
			</div>
		</div>
		<div th:replace="~{fragment/footer :: footer}"></div>
	</div>
	<script>
		AOS.init();
		feather.replace();

		$(window).on("scroll", function() {
			if ($(window).scrollTop() > 100) {
				$('#fix_tel').addClass('active');
			} else {
				$('#fix_tel').removeClass('active');
			}
			return false;
		});
		
		function confirmSubmission() {
	        if (confirm("転送しますか?")) {
	            document.getElementById("contactForm").submit();
	        }
	    }
	</script>
</body>
</html>

